body{ 
    background-color: rgb(230, 230, 230);
    /*
    font-family: "Tiny5", serif;
  font-family: "Teko", serif;
  font-family: "Orbitron", sans-serif;
  font-family: "Pirata One", system-ui;
  font-family: "Silkscreen", sans-serif;
  font-family: "Bangers", system-ui;
  font-family: "Audiowide", sans-serif;
  font-family: "VT323", monospace;
  font-family: "Aldrich", sans-serif;
  font-family: "Odibee Sans", sans-serif;
  font-family: "Wallpoet", sans-serif;
  font-family: "Kelly Slab", sans-serif;
  font-family: "Pixelify Sans", sans-serif;
  font-family: "Geo", sans-serif;
  font-family: "DotGothic16", sans-serif;
  font-family: "Sarpanch", sans-serif;
  font-family: "Jaro", sans-serif;
  font-family: "Saira Stencil One", sans-serif;
  font-family: "Jersey 10", sans-serif;
    */
  font-family: "Iceland", sans-serif;
}

.main-container {
    padding-top: 40px;
    width: 95%;
    margin: 0 auto;
}

@media (min-width: 767px) {
    .main-container {
        width: 70%;
    }
}

@media (min-width: 768px) and (max-width: 1439px) {
    .main-container {
        width: 90%;
    }
}

.hr-index {
    width: 80%;
    margin: 0 auto;
    margin-top: 25px;
}

.div-index-separator {
    border: 1px solid rgba(100, 100, 100, 0.329);
    height: 1px;
}

.span-index-title-about {
    font-weight: bold;
    font-size: 22px;
    color: rgb(71, 111, 129);
}