body{ 
    background-color: rgb(230, 230, 230);
    /*
    */
    font-family: "Tiny5", serif;
    font-family: "Orbitron", sans-serif;
    font-family: "Audiowide", sans-serif;
    font-family: "VT323", monospace;
    font-family: "Aldrich", sans-serif;
    font-family: "Pixelify Sans", sans-serif;
    font-family: "DotGothic16", sans-serif;
    font-family: "Jersey 10", sans-serif;
    font-family: "Iceland", sans-serif;
}

.main-container {
    padding-top: 40px;
    width: 95%;
    margin: 0 auto;
}

@media (min-width: 767px) {
    .main-container {
        width: 70%;
    }
}

@media (min-width: 768px) and (max-width: 1439px) {
    .main-container {
        width: 90%;
    }
}

.hr-index {
    width: 80%;
    margin: 0 auto;
    margin-top: 25px;
}

.div-index-separator {
    border: 1px solid rgba(100, 100, 100, 0.329);
    height: 1px;
}

.div-index-separator-mt {
    margin-top: 50px;
}

@media (min-width: 768px) {
    .div-index-separator-mt {
        margin-top: 1000px;
    }
}

.span-index-title-about {
    font-weight: bold;
    font-size: 25px;
    color: rgb(71, 111, 129);
}

.span-index-title-projects {
    font-weight: bold;
    font-size: 24px;
    color: rgb(71, 111, 129);
}

@media (min-width: 767px) {
    .span-index-title-projects {
        font-size: 25px;
    }
}

.span-index-title-studies {
    font-weight: bold;
    font-size: 24px;
    color: rgb(71, 111, 129);
}

@media (min-width: 767px) {
    .span-index-title-studies {
        font-size: 25px;
    }
}

.span-index-title-knowledge {
    font-weight: bold;
    font-size: 19px;
    color: rgb(71, 111, 129);
}

@media (min-width: 767px) {
    .span-index-title-knowledge {
        font-size: 25px;
    }
}