.img-knowledge-icon {
    width: 70%;
}

.div-knowledge-icon {
    border: 2px solid rgb(105, 166, 194);
    border-radius: 15px;
    padding: 5px;
    box-shadow: 5px 5px 5px rgb(155, 155, 155);
    margin-top: 7px;
    height: auto;
    margin-bottom: 15px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}

.div-knowledge-hover {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(105, 159, 184, 0.7);
    opacity: 0;
    transition: opacity 1s ease;
    height: 40%;
    width: 100%;
}

.div-knowledge-icon:hover .div-knowledge-hover {
    opacity: 1;
}

.span-knowledge-icon {
    color: aliceblue;
    font-size: 15px;
}

.span-knowledge-type {
    font-size: 22px;
    color: rgb(34, 34, 34);
}